name: auratyme

include:
  - ./microservices/schedules/compose.yaml
  - ./microservices/schedules-ai/compose.yaml
  - ./microservices/notifications/compose.yaml
  - ./microservices/jobs/compose.yaml
  - ./microservices/users/compose.yaml

services:
  broker:
    build:
      context: ./infrastructure/broker
      target: dev
    env_file:
      - path: ./infrastructure/broker/.env
        required: true
    volumes:
      - broker-data:/var/lib/rabbitmq
    healthcheck:
      test: timeout 10s bash -c ':> /dev/tcp/localhost/5672'
      timeout: 30s
      retries: 5
      start_period: 30s
    ports:
      - 15672:15672
  reverse-proxy:
    build:
      context: ./infrastructure/reverse-proxy
      target: dev
    env_file:
      - path: ./infrastructure/reverse-proxy/.env
        required: true
    volumes:
      - type: bind
        source: ./infrastructure/reverse-proxy/etc/nginx/nginx.conf
        target: /etc/nginx/nginx.conf
      - type: bind
        source: ./infrastructure/reverse-proxy/etc/nginx/proxy_params.conf
        target: /etc/nginx/proxy_params.conf
      - ./infrastructure/reverse-proxy/html:/usr/share/nginx/html
    ports:
      - 4000:80
    depends_on:
      api-gateway:
        condition: service_healthy
  api-gateway:
    build:
      context: .
      target: dev
      dockerfile: ./microservices/api-gateway/Dockerfile
    env_file:
      - path: ./microservices/api-gateway/.env
        required: true
    volumes:
      - ./microservices/api-gateway/src:/usr/src/app/microservices/api-gateway/src
      - ./microservices/api-gateway/test:/usr/src/app/microservices/api-gateway/test
      - ./microservices/api-gateway/@types:/usr/src/app/microservices/api-gateway/@types
      - ./libs/ts:/usr/src/app/libs/ts
    healthcheck:
      test: node ./healthcheck.js
      timeout: 10s
      start_period: 15s

volumes:
  broker-data:
